<%= cache([@topic, "reference_topics"]) do %>
  <%
    @reference_topics = @topic.reference_topics
    @reference_by_topics = @topic.reference_by_topics
  %>
  <% if @reference_topics.length > 0 || @reference_by_topics.length > 0 %>
    <div class="card mb-2 p-4">
      <% if @reference_topics.length > 0 %>
        <div class="mb-4">
          <h6><%= t("topics.references") %></h6>
          <div class="references-inner">
            <% @reference_topics.each do |topic| %>
              <div class="block bg-transparent hover:bg-gray-100 underline-offset-2 text-gray-700 dark:hover:bg-gray-800 dark:text-gray-200"><%= link_to topic.title, topic, class: "ref-topic-item" %></div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @reference_by_topics.length > 0 %>
        <div class="">
          <h6 class=""><%= t("topics.reference_by") %></h6>
          <div class="references-inner">
            <% @reference_by_topics.each do |topic| %>
              <div class="block bg-transparent hover:bg-gray-100 underline-offset-2 text-gray-700 dark:hover:bg-gray-800 dark:text-gray-200"><%= link_to topic.title, topic, class: "ref-topic-item" %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
