<% content_for :sitemap do %>
  <a href="<%= admin_boards_path %>"><%= t("admin.menu.boards")%></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.create")%></span>
<% end %>
<h1><%= t("admin.boards.new") %></h1>
<%= render 'form' %>
